:root {
    --tableColour: rgb(0, 200, 40);
    --tableDecorColour: hsl(60, 100%, 75%, 0.5);
    --titleColour: hsl(60, 100%, 75%, 0.75);
    --uiElementBorder: 5px solid var(--tableDecorColour);
    --successColour: chartreuse;
    --failureColour: red;
    --buttonWidth: 12rem;
    --buttonPadding: 0.25em;
    --outerPadding: 0.5rem;
    --interItemPadding: 0.5rem;
    --outlineOffset: 10px;
    --titleAspectRatio: 1310/403;
    --maxTitleWidth: 40rem;
    --playTopMargin: calc(-0.35 * (100% / (var(--titleAspectRatio))));
    --sidebarWidth: minmax(0, var(--buttonWidth));
}

* {
    -webkit-user-select: none;
    user-select: none;
}

html {
    padding: 0;
    justify-content: center;
    background: black;
}

html, body, #cribtrainer {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    grid-area: title;
    margin: 0;
    place-self: stretch;
}

h1 a {
    display: block;
    aspect-ratio: var(--titleAspectRatio);
    color: transparent;
    background: var(--titleColour);
    mask-image: url("/img/cribtrainer-arched.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}
