:root {
    --tableColour: rgb(0, 200, 40);
    --tableDecorColour: hsl(60, 100%, 75%, 0.5);
    --titleColour: hsl(60, 100%, 75%, 0.75);
    --uiElementBorder: 5px solid var(--tableDecorColour);
    --successColour: chartreuse;
    --failureColour: red;
    --buttonWidth: 12rem;
    --outerPadding: 0.5rem;
    --interItemPadding: 0.5rem;
    --outlineOffset: 10px;
    --titleAspectRatio: 1310/403;
    --maxTitleWidth: 40rem;
    --titleEdge: calc((100vw - var(--maxTitleWidth)) / 2 - 1rem);
    --playTopMargin: calc(-0.3 * (100vw / (var(--titleAspectRatio))));
}

* {
    -webkit-user-select: none;
    user-select: none;
}

html {
    padding: 0;
    justify-content: center;
    background: black;
}

html, body, #cribtrainer {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    margin: 0;
    align-self: stretch;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

h1 a {
    display: block;
    aspect-ratio: var(--titleAspectRatio);
    max-width: var(--maxTitleWidth);
    margin: auto;
    color: transparent;
    background: var(--titleColour);
    mask-image: url("/img/cribtrainer-arched.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

#cribtrainer, [role=dialog], #scoreboard {
    touch-action: none;
}

::backdrop, #cribtrainer, [role=dialog] {
    overflow: hidden;
    overscroll-behavior: none;
}

[role=dialog] {
    display: none;
}

:is(:hover, :focus) {
    outline: none;
}

.stacked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cribtrainer {
    flex: 1;
    background: fixed radial-gradient(circle at 50% 10rem, var(--tableColour) 0%, hsl(from var(--tableColour) h s calc(l * 0.75)) 40%, rgb(0,0,0) 100%);
    font-family: 'Public Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: var(--outerPadding);
    box-sizing: border-box;
}

.view {
    width: 100%;
    max-width: calc(var(--maxTitleWidth) - 1rem);
    gap: 2rem;
    flex: 1;
    max-height: 50rem;
    justify-content: center;
}

.view nav {
    gap: 1rem;
    flex: 0;
}

#cards {
    --cardset-should-animate: 1;
    --cardset-card-background-image: url("/img/card-back.svg");
    flex: 1;
    max-width: calc(var(--maxTitleWidth) - 5rem);
}

.view nav>* {
    text-align: center;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
}

.view nav>*:not(score-select) {
    background-color: transparent;
    color: var(--tableDecorColour);
    width: var(--buttonWidth);
    padding: var(--interItemPadding);
}

.view nav>*:not(score-select):hover {
    background-color: var(--tableDecorColour);
    color: black;
}

:is(.view nav>*.primary):hover {
    color: var(--tableDecorColour);
    background-color: transparent;
}

.view:not(.activeContent) {
    display: none;
}

#start h2 {
    flex: 1;
    display: flex;
    max-width: calc(var(--maxTitleWidth) * 0.75);
    align-items: center;
}

#start>* {
    justify-items: center;
}

#play {
    min-height: 0;
    margin-top: var(--playTopMargin);
    position: relative;
}

#cards::part(cut_card), #cards::part(hand) {
    padding: var(--interItemPadding);
}

#cards::part(cut_card), #cards::part(hand), .view nav>* {
    border: var(--uiElementBorder);
}

#cards::part(cut_card), #cards::part(hand), .view nav>*, [role=dialog] {
    border-radius: 11.5px;
}

.view nav>*.primary,
#cards::part(cut_card) {
    outline: var(--uiElementBorder);
    outline-offset: var(--outlineOffset);
    margin-bottom: var(--outlineOffset);
}

.view nav>*.primary {
    color: black;
    background-color: var(--tableDecorColour);
}

#scoreboard {
    flex-direction: row;
    position: absolute;
    top: calc(1rem - var(--playTopMargin));
    right: 0;
    height: 3rem;
    width: 6rem;
    font-weight: 700;
}

#selectedScore {
    font-size: 24em;
    font-weight: 700;
}

@media (width > 40rem /* maxTitleWidth */ ) {
    :root {
        --outerPadding: 0.75rem;
        --interItemPadding: 0.75rem;
        --playTopMargin: calc(-0.3 * (var(--maxTitleWidth) / (var(--titleAspectRatio))));
    }
}

@media (height > 46rem) {
    .view nav {
        padding-bottom: 1rem;
    }
}

@media (width > 65rem) {
    #play :is(.scoringButton, #scoreboard) {
        position: fixed;
        top: 1rem;
    }

    #play .scoringButton {
        left: calc(var(--titleEdge) - var(--buttonWidth));
    }

    #scoreboard {
        right: calc(var(--titleEdge) - 6rem);
    }
}

@media (orientation: landscape) and (hover: none) {
    :root {
        --maxTitleWidth: calc(25vh * var(--titleAspectRatio));
        --outerPadding: 0.5rem;
        --interItemPadding: 0.5rem;
    }

    .view {
        max-width: 100%;
    }

    #start {
        flex-direction: row;
    }

    #start nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #start nav > *:first-child {
        grid-column: 1 / -1;
    }

    #play.activeContent {
        display: grid;
        grid-template-columns: 1fr calc(var(--maxTitleWidth)) 1fr;
        margin: var(--outerPadding);
    }

    #cards,
    #play nav {
        display: contents;
    }

    #cards::part(cut_card) {
        width: auto;
        justify-self: flex-end;
    }

    score-select {
        height: 75%;
        width: 75%;
        justify-self: flex-start;
    }
}
