* {
    -webkit-user-select: none;
    user-select: none;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:active {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#cribtrainer, [role=dialog], #scoreboard {
    touch-action: none;
}

:is(:hover, :focus) {
    outline: none;
}

#cards,
#scoreboard {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

#cards {
    --cardset-card-background-image: url("/img/card-back.svg");
    justify-self: center;
    max-width: calc(var(--maxTitleWidth) - 5rem);
    align-self: stretch;
}

#cards::part(cut_card), #cards::part(hand) {
    padding: var(--interItemPadding);
}

:is(.view nav>*.primary):hover {
    color: var(--tableDecorColour);
    background-color: transparent;
}

.view nav>*:not(score-select):hover {
    background-color: var(--tableDecorColour);
    color: black;
}

#scoreboard {
    grid-area: view;
    place-self: start end;
    width: 6rem;
    font-weight: 700;
}


@media ((hover: hover) and (width > 65rem)), ((hover: none) and (orientation: landscape) /* maxTitleWidth + sidebars of width buttonWidth and gap */ ) {
    #scoreboard {
        grid-area: sidebar-right;
        place-self: start;
    }

    .view#play .scoringButton {
        grid-area: sidebar-left;
        place-self: start end;
    }

}

@media ((orientation: landscape) and (hover: none)) {
    #cards::part(cut_card),
    #play cribbage-cards::part(hand) {
        max-height: min(15rem, 100%);
    }

    #cards::part(cut_card) {
        place-self: center end;
    }

    #cards,
    #play.view nav {
        display: contents;
    }

    score-select {
        place-self: center start;
        height: 50%;
        margin-right: 2rem; /* notch */
    }
}
